Generar una función para cada una de las siguientes acciones:
a) Reemplazar valores nulos con el método de “mediana” en las columnas tipo “numeric (int y float)”
b) Reemplazar valores nulos con el método de “ffill” en las columnas tipo “object, datetime y category”
c) Reemplazar valores nulos con el método de “bfill” en las columnas tipo “object, datetime y category”
d) Reemplazar valores nulos con el método de “string concreto” en las columnas tipo “object, datetime y category”
e) Reemplazar valores nulos con el método de “constante” en las columnas tipo “numeric (int y float)”

In [24]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [25]:
# Convertir a dataframe
df = pd.read_csv("GINEBRA.csv")
df

,Unnamed: 0,ID ANUNCIIO,ID SCRAPE,FUENTE INFO,NOMBRE ANFITRION,FECHA INICIO ANFITRION,TIEMPO DE RESPUESTA,TASA DE RESPUESTA,TASA DE ACEPTACION,SUPERANFITRION,...,PUNTAJE CHECKIN,PUNTAJE COMUNICACION,PUNTAJE UBICACION,PUNTAJE VALOR,RESERVA INSTANTANEA,ANUNCIOS ANFITRION,ANUNCIOS HOGAR COMPLETO,ANUNCIOS HABITACION PRIVADA,ANUNCIOS HABITACION COMPARTIDA,REVIEWS POR MES
0,0,42515,20241229042300,city scrape,Noelle,2010-07-30,within a few hours,100%,88%,f,...,4.86,4.84,4.85,4.55,f,1,0,1,0,0.49
1,1,203997,20241229042300,city scrape,Mike,2011-08-21,within an hour,100%,100%,t,...,4.97,4.99,4.96,4.81,t,2,2,0,0,0.60
2,2,276025,20241229042300,city scrape,Gaby,2011-11-25,within an hour,100%,100%,t,...,4.88,4.89,4.77,4.68,f,1,1,0,0,0.78
3,3,338682,20241229042300,city scrape,Mike,2011-08-21,within an hour,100%,100%,t,...,4.90,4.89,4.87,4.70,t,2,2,0,0,0.77
4,4,399388,20241229042300,city scrape,Oscar,2012-03-23,within an hour,100%,89%,t,...,4.95,4.89,4.70,4.70,f,2,0,2,0,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,2752,1318859808229991842,20241229042300,city scrape,Alexandre,2024-12-24,NaN,NaN,100%,f,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2753,2753,1319353272672215826,20241229042300,city scrape,Jasmine,2019-06-18,NaN,NaN,50%,f,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2754,2754,1319753554977771528,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100%,57%,f,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2755,2755,1319753624300180036,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100%,57%,f,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2756,2756,1320187730227740458,20241229042300,city scrape,Soufiane,2015-07-03,within an hour,100%,NaN,f,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [26]:
#Eliminar columnas innecesarias
#axis = 1 columnas
#axis = 0 filas
df1 = df.drop(["Unnamed: 0"], axis=1)
df1

,ID ANUNCIIO,ID SCRAPE,FUENTE INFO,NOMBRE ANFITRION,FECHA INICIO ANFITRION,TIEMPO DE RESPUESTA,TASA DE RESPUESTA,TASA DE ACEPTACION,SUPERANFITRION,CANTIDAD ANUNCIOS,...,PUNTAJE CHECKIN,PUNTAJE COMUNICACION,PUNTAJE UBICACION,PUNTAJE VALOR,RESERVA INSTANTANEA,ANUNCIOS ANFITRION,ANUNCIOS HOGAR COMPLETO,ANUNCIOS HABITACION PRIVADA,ANUNCIOS HABITACION COMPARTIDA,REVIEWS POR MES
0,42515,20241229042300,city scrape,Noelle,2010-07-30,within a few hours,100%,88%,f,1,...,4.86,4.84,4.85,4.55,f,1,0,1,0,0.49
1,203997,20241229042300,city scrape,Mike,2011-08-21,within an hour,100%,100%,t,6,...,4.97,4.99,4.96,4.81,t,2,2,0,0,0.60
2,276025,20241229042300,city scrape,Gaby,2011-11-25,within an hour,100%,100%,t,2,...,4.88,4.89,4.77,4.68,f,1,1,0,0,0.78
3,338682,20241229042300,city scrape,Mike,2011-08-21,within an hour,100%,100%,t,6,...,4.90,4.89,4.87,4.70,t,2,2,0,0,0.77
4,399388,20241229042300,city scrape,Oscar,2012-03-23,within an hour,100%,89%,t,2,...,4.95,4.89,4.70,4.70,f,2,0,2,0,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,1318859808229991842,20241229042300,city scrape,Alexandre,2024-12-24,NaN,NaN,100%,f,1,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2753,1319353272672215826,20241229042300,city scrape,Jasmine,2019-06-18,NaN,NaN,50%,f,1,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2754,1319753554977771528,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100%,57%,f,2,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2755,1319753624300180036,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100%,57%,f,2,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2756,1320187730227740458,20241229042300,city scrape,Soufiane,2015-07-03,within an hour,100%,NaN,f,1,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [27]:
#Identificar valores nulos por columna
valores_nulos = df1.isnull().sum()
valores_nulos

ID ANUNCIIO                         0
ID SCRAPE                           0
FUENTE INFO                         0
NOMBRE ANFITRION                    0
FECHA INICIO ANFITRION              0
TIEMPO DE RESPUESTA               742
TASA DE RESPUESTA                 742
TASA DE ACEPTACION                448
SUPERANFITRION                     31
CANTIDAD ANUNCIOS                   0
CANTIDAD TOTAL ANUNCIOS             0
LATITUD                             0
LONGITUD                            0
TIPO DE PROPIEDAD                   0
TIPO DE CUARTO                      0
CAPACIDAD                           0
BAÑOS                             690
DORMITORIOS                       207
CAMAS                             694
AMENIDADES                          0
PRECIO                            689
NOCHES MINIMAS                      0
NOCHES MAXIMAS                      0
MINIMO NOCHES MINIMAS               0
MAXIMO NOCHES MINIMAS               0
MINIMO NOCHES MAXIMAS               0
MAXIMO NOCHES MAXIMAS               0
PROMEDIO NOCHES MINIMAS             0
PROMEDIO NOCHES MAXIMAS             0
TIENE DISPONIBILIDAD               74
DISPONIBILIDAD 30D                  0
DISPONIBILIDAD 60D                  0
DISPONIBILIDAD 90D                  0
DISPONIBILIDAD 365D                 0
CANTIDAD REVIEWS                    0
REVIEWS ULTIMOS 12M                 0
REVIEWS ULTIMOS 30D                 0
PUNTAJE RATING                    676
PUNTAJE PRECISION                 676
PUNTAJE LIMPIEZA                  676
PUNTAJE CHECKIN                   676
PUNTAJE COMUNICACION              676
PUNTAJE UBICACION                 676
PUNTAJE VALOR                     676
RESERVA INSTANTANEA                 0
ANUNCIOS ANFITRION                  0
ANUNCIOS HOGAR COMPLETO             0
ANUNCIOS HABITACION PRIVADA         0
ANUNCIOS HABITACION COMPARTIDA      0
REVIEWS POR MES                   676
dtype: int64

In [28]:
#Realizamos una copia del dataframe
df2 = df1.copy()

In [29]:
def sustitucion_mean(dataframe):
    cuantitativas_con_nulos = dataframe.select_dtypes(include=['float64', 'int64','float','int'])
    cualitativas = dataframe.select_dtypes(include=['object', 'datetime','category'])
    cuantitativas = cuantitativas_con_nulos.fillna(round(cuantitativas_con_nulos.mean(), 1))
    Datos_sin_nulos = pd.concat([cuantitativas, cualitativas], axis=1)
    return(Datos_sin_nulos)

def sustitucion_ffill(dataframe):
    cuantitativas = dataframe.select_dtypes(include=['float64', 'int64','float','int'])
    cualitativas_con_nulos = dataframe.select_dtypes(include=['object', 'datetime','category'])
    cualitativas = cualitativas_con_nulos.fillna(method='ffill')
    Datos_sin_nulos = pd.concat([cuantitativas, cualitativas], axis=1)
    return(Datos_sin_nulos)

def sustitucion_bfill(dataframe):
    cuantitativas = dataframe.select_dtypes(include=['float64', 'int64','float','int'])
    cualitativas_con_nulos = dataframe.select_dtypes(include=['object', 'datetime','category'])
    cualitativas = cualitativas_con_nulos.fillna(method='bfill')
    Datos_sin_nulos = pd.concat([cuantitativas, cualitativas], axis=1)
    return(Datos_sin_nulos)


def sustitucion_string_concreto(dataframe,cadena):
    cuantitativas = dataframe.select_dtypes(include=['float64', 'int64','float','int'])
    cualitativas_con_nulos = dataframe.select_dtypes(include=['object', 'datetime','category'])
    cualitativas = cualitativas_con_nulos.fillna(cadena)
    Datos_sin_nulos = pd.concat([cuantitativas, cualitativas], axis=1)
    return(Datos_sin_nulos)

def sustitucion_constante(dataframe,constante):
    cuantitativas_con_nulos = dataframe.select_dtypes(include=['float64', 'int64','float','int'])
    cualitativas = dataframe.select_dtypes(include=['object', 'datetime','category'])
    cuantitativas = cuantitativas_con_nulos.fillna(constante)
    Datos_sin_nulos = pd.concat([cuantitativas, cualitativas], axis=1)
    return(Datos_sin_nulos)

In [30]:
sustitucion_mean = sustitucion_mean(df2)
sustitucion_mean.to_csv('sustitucion_mean.csv')
sustitucion_mean.isnull().sum()

ID ANUNCIIO                         0
ID SCRAPE                           0
CANTIDAD ANUNCIOS                   0
CANTIDAD TOTAL ANUNCIOS             0
LATITUD                             0
LONGITUD                            0
CAPACIDAD                           0
BAÑOS                               0
DORMITORIOS                         0
CAMAS                               0
NOCHES MINIMAS                      0
NOCHES MAXIMAS                      0
MINIMO NOCHES MINIMAS               0
MAXIMO NOCHES MINIMAS               0
MINIMO NOCHES MAXIMAS               0
MAXIMO NOCHES MAXIMAS               0
PROMEDIO NOCHES MINIMAS             0
PROMEDIO NOCHES MAXIMAS             0
DISPONIBILIDAD 30D                  0
DISPONIBILIDAD 60D                  0
DISPONIBILIDAD 90D                  0
DISPONIBILIDAD 365D                 0
CANTIDAD REVIEWS                    0
REVIEWS ULTIMOS 12M                 0
REVIEWS ULTIMOS 30D                 0
PUNTAJE RATING                      0
PUNTAJE PRECISION                   0
PUNTAJE LIMPIEZA                    0
PUNTAJE CHECKIN                     0
PUNTAJE COMUNICACION                0
PUNTAJE UBICACION                   0
PUNTAJE VALOR                       0
ANUNCIOS ANFITRION                  0
ANUNCIOS HOGAR COMPLETO             0
ANUNCIOS HABITACION PRIVADA         0
ANUNCIOS HABITACION COMPARTIDA      0
REVIEWS POR MES                     0
FUENTE INFO                         0
NOMBRE ANFITRION                    0
FECHA INICIO ANFITRION              0
TIEMPO DE RESPUESTA               742
TASA DE RESPUESTA                 742
TASA DE ACEPTACION                448
SUPERANFITRION                     31
TIPO DE PROPIEDAD                   0
TIPO DE CUARTO                      0
AMENIDADES                          0
PRECIO                            689
TIENE DISPONIBILIDAD               74
RESERVA INSTANTANEA                 0
dtype: int64

In [31]:
sustitucion_ffill = sustitucion_ffill(df2)
sustitucion_ffill.to_csv('sustitucion_ffill.csv')
sustitucion_ffill.isnull().sum()

/var/folders/s0/gbwv5v5n6w195ppb5gfrlfcm0000gn/T/ipykernel_12697/1139553845.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cualitativas = cualitativas_con_nulos.fillna(method='ffill')

ID ANUNCIIO                         0
ID SCRAPE                           0
CANTIDAD ANUNCIOS                   0
CANTIDAD TOTAL ANUNCIOS             0
LATITUD                             0
LONGITUD                            0
CAPACIDAD                           0
BAÑOS                             690
DORMITORIOS                       207
CAMAS                             694
NOCHES MINIMAS                      0
NOCHES MAXIMAS                      0
MINIMO NOCHES MINIMAS               0
MAXIMO NOCHES MINIMAS               0
MINIMO NOCHES MAXIMAS               0
MAXIMO NOCHES MAXIMAS               0
PROMEDIO NOCHES MINIMAS             0
PROMEDIO NOCHES MAXIMAS             0
DISPONIBILIDAD 30D                  0
DISPONIBILIDAD 60D                  0
DISPONIBILIDAD 90D                  0
DISPONIBILIDAD 365D                 0
CANTIDAD REVIEWS                    0
REVIEWS ULTIMOS 12M                 0
REVIEWS ULTIMOS 30D                 0
PUNTAJE RATING                    676
PUNTAJE PRECISION                 676
PUNTAJE LIMPIEZA                  676
PUNTAJE CHECKIN                   676
PUNTAJE COMUNICACION              676
PUNTAJE UBICACION                 676
PUNTAJE VALOR                     676
ANUNCIOS ANFITRION                  0
ANUNCIOS HOGAR COMPLETO             0
ANUNCIOS HABITACION PRIVADA         0
ANUNCIOS HABITACION COMPARTIDA      0
REVIEWS POR MES                   676
FUENTE INFO                         0
NOMBRE ANFITRION                    0
FECHA INICIO ANFITRION              0
TIEMPO DE RESPUESTA                 0
TASA DE RESPUESTA                   0
TASA DE ACEPTACION                  0
SUPERANFITRION                      0
TIPO DE PROPIEDAD                   0
TIPO DE CUARTO                      0
AMENIDADES                          0
PRECIO                              0
TIENE DISPONIBILIDAD                0
RESERVA INSTANTANEA                 0
dtype: int64

In [32]:
sustitucion_bfill = sustitucion_bfill(df2)
sustitucion_bfill.to_csv('sustitucion_bfill.csv')
sustitucion_bfill.isnull().sum()

/var/folders/s0/gbwv5v5n6w195ppb5gfrlfcm0000gn/T/ipykernel_12697/1139553845.py:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cualitativas = cualitativas_con_nulos.fillna(method='bfill')

ID ANUNCIIO                         0
ID SCRAPE                           0
CANTIDAD ANUNCIOS                   0
CANTIDAD TOTAL ANUNCIOS             0
LATITUD                             0
LONGITUD                            0
CAPACIDAD                           0
BAÑOS                             690
DORMITORIOS                       207
CAMAS                             694
NOCHES MINIMAS                      0
NOCHES MAXIMAS                      0
MINIMO NOCHES MINIMAS               0
MAXIMO NOCHES MINIMAS               0
MINIMO NOCHES MAXIMAS               0
MAXIMO NOCHES MAXIMAS               0
PROMEDIO NOCHES MINIMAS             0
PROMEDIO NOCHES MAXIMAS             0
DISPONIBILIDAD 30D                  0
DISPONIBILIDAD 60D                  0
DISPONIBILIDAD 90D                  0
DISPONIBILIDAD 365D                 0
CANTIDAD REVIEWS                    0
REVIEWS ULTIMOS 12M                 0
REVIEWS ULTIMOS 30D                 0
PUNTAJE RATING                    676
PUNTAJE PRECISION                 676
PUNTAJE LIMPIEZA                  676
PUNTAJE CHECKIN                   676
PUNTAJE COMUNICACION              676
PUNTAJE UBICACION                 676
PUNTAJE VALOR                     676
ANUNCIOS ANFITRION                  0
ANUNCIOS HOGAR COMPLETO             0
ANUNCIOS HABITACION PRIVADA         0
ANUNCIOS HABITACION COMPARTIDA      0
REVIEWS POR MES                   676
FUENTE INFO                         0
NOMBRE ANFITRION                    0
FECHA INICIO ANFITRION              0
TIEMPO DE RESPUESTA                 0
TASA DE RESPUESTA                   0
TASA DE ACEPTACION                  1
SUPERANFITRION                      0
TIPO DE PROPIEDAD                   0
TIPO DE CUARTO                      0
AMENIDADES                          0
PRECIO                              0
TIENE DISPONIBILIDAD                1
RESERVA INSTANTANEA                 0
dtype: int64

In [33]:
sustitucion_string_concreto = sustitucion_string_concreto(df2,'a few days or more')
sustitucion_string_concreto.to_csv('sustitucion_string_concreto.csv')
sustitucion_string_concreto.isnull().sum()

ID ANUNCIIO                         0
ID SCRAPE                           0
CANTIDAD ANUNCIOS                   0
CANTIDAD TOTAL ANUNCIOS             0
LATITUD                             0
LONGITUD                            0
CAPACIDAD                           0
BAÑOS                             690
DORMITORIOS                       207
CAMAS                             694
NOCHES MINIMAS                      0
NOCHES MAXIMAS                      0
MINIMO NOCHES MINIMAS               0
MAXIMO NOCHES MINIMAS               0
MINIMO NOCHES MAXIMAS               0
MAXIMO NOCHES MAXIMAS               0
PROMEDIO NOCHES MINIMAS             0
PROMEDIO NOCHES MAXIMAS             0
DISPONIBILIDAD 30D                  0
DISPONIBILIDAD 60D                  0
DISPONIBILIDAD 90D                  0
DISPONIBILIDAD 365D                 0
CANTIDAD REVIEWS                    0
REVIEWS ULTIMOS 12M                 0
REVIEWS ULTIMOS 30D                 0
PUNTAJE RATING                    676
PUNTAJE PRECISION                 676
PUNTAJE LIMPIEZA                  676
PUNTAJE CHECKIN                   676
PUNTAJE COMUNICACION              676
PUNTAJE UBICACION                 676
PUNTAJE VALOR                     676
ANUNCIOS ANFITRION                  0
ANUNCIOS HOGAR COMPLETO             0
ANUNCIOS HABITACION PRIVADA         0
ANUNCIOS HABITACION COMPARTIDA      0
REVIEWS POR MES                   676
FUENTE INFO                         0
NOMBRE ANFITRION                    0
FECHA INICIO ANFITRION              0
TIEMPO DE RESPUESTA                 0
TASA DE RESPUESTA                   0
TASA DE ACEPTACION                  0
SUPERANFITRION                      0
TIPO DE PROPIEDAD                   0
TIPO DE CUARTO                      0
AMENIDADES                          0
PRECIO                              0
TIENE DISPONIBILIDAD                0
RESERVA INSTANTANEA                 0
dtype: int64

In [34]:
sustitucion_constante = sustitucion_constante(df2, 5)
sustitucion_constante.to_csv('sustitucion_constante.csv')
sustitucion_constante.isnull().sum()

ID ANUNCIIO                         0
ID SCRAPE                           0
CANTIDAD ANUNCIOS                   0
CANTIDAD TOTAL ANUNCIOS             0
LATITUD                             0
LONGITUD                            0
CAPACIDAD                           0
BAÑOS                               0
DORMITORIOS                         0
CAMAS                               0
NOCHES MINIMAS                      0
NOCHES MAXIMAS                      0
MINIMO NOCHES MINIMAS               0
MAXIMO NOCHES MINIMAS               0
MINIMO NOCHES MAXIMAS               0
MAXIMO NOCHES MAXIMAS               0
PROMEDIO NOCHES MINIMAS             0
PROMEDIO NOCHES MAXIMAS             0
DISPONIBILIDAD 30D                  0
DISPONIBILIDAD 60D                  0
DISPONIBILIDAD 90D                  0
DISPONIBILIDAD 365D                 0
CANTIDAD REVIEWS                    0
REVIEWS ULTIMOS 12M                 0
REVIEWS ULTIMOS 30D                 0
PUNTAJE RATING                      0
PUNTAJE PRECISION                   0
PUNTAJE LIMPIEZA                    0
PUNTAJE CHECKIN                     0
PUNTAJE COMUNICACION                0
PUNTAJE UBICACION                   0
PUNTAJE VALOR                       0
ANUNCIOS ANFITRION                  0
ANUNCIOS HOGAR COMPLETO             0
ANUNCIOS HABITACION PRIVADA         0
ANUNCIOS HABITACION COMPARTIDA      0
REVIEWS POR MES                     0
FUENTE INFO                         0
NOMBRE ANFITRION                    0
FECHA INICIO ANFITRION              0
TIEMPO DE RESPUESTA               742
TASA DE RESPUESTA                 742
TASA DE ACEPTACION                448
SUPERANFITRION                     31
TIPO DE PROPIEDAD                   0
TIPO DE CUARTO                      0
AMENIDADES                          0
PRECIO                            689
TIENE DISPONIBILIDAD               74
RESERVA INSTANTANEA                 0
dtype: int64